/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f8f7f1;
  color: #0d2f3f;
}

/* Header */
header {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 10;
}

.container {
  width: 100%;
  max-width: 85%;
  margin: 0 auto;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .logo {
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Michroma', sans-serif;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 3.5rem;
}

nav ul li a {
  text-decoration: none;
  color: #0d2f3f;
  font-weight: normal;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #286f6c;
}

.download-cv {
  background-color: #286f6c;
  color: #f8f7f1;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
}

/* Grid Overlay */
.grid-overlay {
  position: absolute;
  align-items: center;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  pointer-events: none; /* Allows interactions with elements beneath the grid */
  background-image: linear-gradient(to right, rgba(8, 8, 8, 0.05) 1px, transparent 1px),
                    linear-gradient(to bottom, rgba(8, 8, 8, 0.05) 1px, transparent 1px);
  background-size: 40px 40px; /* Adjust the size of the grid cells */
  z-index: 1; /* Ensure it is above the background image but below other content */
}

/* Hero Section */
.hero-section {
  width: 100%;
  height: 980px;
  position: relative;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0.8;
}

.content-container {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.profile-img {
  width: 400px;
  height: 500px;
  border-radius: 70%;
}

.social-icons {
  display: flex;
  gap: 1rem;
  margin-bottom: 5rem;
  margin-top: 10rem;
}

.social-icons a img {
  width: 42px;
  height: 42px;
  opacity: 0.75;
  transition: opacity 0.3s;
}

.social-icons a img:hover {
  opacity: 1;
}

/* Text Sections */
.description {
  width: 310px;
  position: absolute;
  right: 10%;
  top: 20%;
  text-align: right;
  color: #0d2f3f;
  font-size: 18px;
  line-height: 28px;
}

.passionate {
  width: 8px;
  height: 256px;
  text-align: right;
  color: #0D2F3F;
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 26px;
  word-wrap: break-word;
  position: absolute;
  right: 10%;
  top: 45%;
}

.hackhobby-lab {
  width: 308px;
  height: 42px;
  color: rgba(0, 0, 0, 0.50);
  font-size: 48px;
  font-family: Calibri, sans-serif;
  font-weight: 700;
  line-height: 58px;
  word-wrap: break-word;
  position: absolute;
  align-items: left;
  bottom: 20%;
  left: 10%;
}


.hobbyist {
  position: absolute;
  right: 10%;
  top: 75%;
  color: #286f6c;
  font-size: 26px;
  font-weight: 600;
  line-height: 36px;
}

.name {
  width: 392px;
  position: absolute;
  left: 10%;
  top: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hiya-im {
  color: #40d30c;
  font-size: 48px;
  font-family: Calibri;
  font-weight: 300;
  line-height: 58px;
}

.hamza-rehman {
  color: black;
  font-size: 48px;
  font-family:  Calibri;
  font-weight: 600;
  line-height: 40px;
}
